#landscape-popup-bg {
    display: none;
}

@media only screen and (max-width: 720px) {
    canvas,
    #canvas-frame,
    #prestart,
    #prestart img,
    #pepestart img {
        width: 100%;
    }

    h1 {
        display: none;
    }

    #enterfullscreen {
        display: none;
    }

    #youlost img,
    #youwon img {
        width: 100%;
        height: 100%;
    }
}

@media only screen and (max-height: 480px) {
    canvas,
    #canvas-frame,
    #pepestart img {
        height: 100vh;
    }

    #prestart,
    #prestart img {
        height: 100vh;
        max-width: 100%;
    }

    h1 {
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    #startbutton button span,
    #startbutton button {
        font-size: 30px;
        padding-right: 9px;
    }
}

@media only screen and (max-width: 720px) and (orientation: portrait) {
    #landscape-popup-bg {
        z-index: 10000;
        background-image: url("../img/background/desert-5112222.jpg");
        background-position: center;
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 16px;
    }

    #landscape-popup {
        text-align: center;
        font-size: 40px;
        letter-spacing: 4px;
    }
}

@media only screen and (max-width: 720px) and (orientation: landscape) {
    #landscape-popup-bg {
        display: none;
    }

    #landscape-popup {
        display: none;
    }
}

/*
@media only screen and (max-width: 720px) and (orientation: portrait) {
    body {
        transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
    }
}
*/
