@font-face {
    font-family: "zabars";
    /* path relative to the location of the css file (./css/style.css) */
    src:url("../fonts/zabars.ttf") format("truetype");
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    /* path relative to the location of the css file (./css/style.css) */
    src:url("../fonts/MaterialIconsOutlined-Regular.otf") format("truetype");
}

.material-symbols-outlined {
   font-family: 'Material Icons';
   font-weight: normal;
   font-style: normal;
   font-size: 24px;  /* Preferred icon size */
   display: inline-block;
   line-height: 1;
   text-transform: none;
   letter-spacing: normal;
   word-wrap: normal;
   white-space: nowrap;
   direction: ltr;
 
   /* Support for all WebKit browsers. */
   -webkit-font-smoothing: antialiased;
   /* Support for Safari and Chrome. */
   text-rendering: optimizeLegibility;
 
   /* Support for Firefox. */
   -moz-osx-font-smoothing: grayscale;
 
   /* Support for IE. */
   font-feature-settings: 'liga';
}

body {
    background-image: url("../img/background/desert-5112222.jpg");
    background-position: 50% 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'zabars', Arial, Helvetica, sans-serif;
    color: #424242;
    margin: 0px;
    user-select: none;
}

h1 {
    font-size: 60px;
    letter-spacing: 4px;
}

#prestart {
    width: 720px;
    height: 480px;
    background-color: black;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

#prestart div {
    color: gold;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size: 50px;
}

canvas {
    /* background-image: url("img/9.Intro _ Outro Image/Start Screen/Opción 1.png"); */
    background-position: center;
    background-repeat: no-repeat;
    display: block;
}

#canvas-frame {
    position: relative;
    display: block;
}

#startscreen {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}

#startscreen img {
    width: 720px;
    height: 480px;
    width: 100%;
    height: 100%;
    display: block;
}

#pepestart {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    display: none;
}

#youlost {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    display: none;
    z-index: 10;
}

#youwon {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    display: none;
    z-index: 10;
}
