:root {
    --control-button-size: 80px;
}

.button__overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: calc(var(--control-button-size) / 12.5);
}

.upper__buttons {
    display: flex;
    justify-content: flex-end;
}

.lower__buttons {
    justify-content: space-between;
    align-items: flex-end;
}

#lowerbuttons {
    display: none;
}

.lower__buttons__left {
    display: flex;

}

.lower__buttons__right {
    display: flex;
    flex-direction: column;
}

.control__button__style {
    width: var(--control-button-size);
}

/* fullscreen button */

#enterfullscreen {
    display: flex;
}

#enterfullscreen span, #soundonoff span {
    font-size: 66px;
    color: white;
    cursor: pointer;
    text-shadow: 0px 0px 3px black;
}

.keyboard__instructions {
    font-size: 30px;
    margin: 10px 20px 0 0;
}

.fullscreen-res {
    width: 100%;
    height: 100%;
}

/* start screen */

#startbutton {
    position: absolute;
    /* bottom: 80%; */
    top: 30px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    z-index: 10;
}

#startbutton button {
    display: flex;
    align-items: center;
    font-size: 50px;
    font-weight: 200;
    color: #424242;
    border: 3px solid #424242;
    border-radius: 50px;
    padding-right: 13px;
    background: rgb(255, 196, 34);
    background: linear-gradient(0deg, rgba(255, 196, 34, 1) 0%, rgba(255, 223, 0, 1) 35%, rgba(255, 196, 34, 1) 100%);
    cursor: pointer;
}

#startbutton button:hover {
    filter: brightness(90%);
}

#startbutton button span {
    font-size: 50px;
    font-weight: 800;
}

/* end screen */

#replaybutton {
    position: absolute;
    /* bottom: 80%; */
    top: 30px;
    left: 0;
    right: 0;
    display: none;
    justify-content: center;
    z-index: 100;
}

#replaybutton button {
    display: flex;
    align-items: center;
    font-size: 50px;
    font-weight: 200;
    color: #424242;
    border: 3px solid #424242;
    border-radius: 50px;
    padding-right: 13px;
    background: rgb(255, 196, 34);
    background: linear-gradient(0deg, rgba(255, 196, 34, 1) 0%, rgba(255, 223, 0, 1) 35%, rgba(255, 196, 34, 1) 100%);
    cursor: pointer;
}

#replaybutton button:hover {
    filter: brightness(90%);
}

#replaybutton button span {
    font-size: 50px;
    font-weight: 800;
}