body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    margin: 0px;
}

canvas {
    background-color: black;
    display: block;
}

#canvas-frame {
    position: relative;
    display: block;
}

#enter-fullscreen {
    position: absolute;
    right: 0;
    bottom: 0;
}

.icon__control {
    cursor: pointer;
}

.icon__control span {
    font-size: 50px;
    color: white;
}

/* mobile view --------------- */
@media only screen and (max-width: 720px) {
    canvas, #canvas-frame {
        width: 100%;
    }

    h1 {
        display: none;
    }
}

@media only screen and (max-height: 480px) {
    canvas, #canvas-frame {
        height: 100vh;
    }

    h1 {
        display: none;
    }
}