body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    color: #424242;
    margin: 0px;
}

canvas {
    background-color: black;
    display: block;
}

#canvas-frame {
    position: relative;
    display: block;
}

#startscreen {
    position: absolute;
    left: 0;
    top: 0;
}

#startscreen img {
    width: 720px;
    height: 480px;
}

#enter-fullscreen {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 4px 8px;
}

.icon__control {
    cursor: pointer;
}

.icon__control span {
    font-size: 36px;
    color: white;
}

#startbutton {
    position: absolute;
    bottom: 80%;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
}

#startbutton button {
    display: flex;
    align-items: center;
    font-size: 50px;
    font-weight: 200;
    color: #424242;
    border: 3px solid #424242;
    border-radius: 50px;
    padding-right: 13px;
    background: rgb(255,196,34);
    background: linear-gradient(0deg, rgba(255,196,34,1) 0%, rgba(255,223,0,1) 35%, rgba(255,196,34,1) 100%);
    cursor: pointer;
}

#startbutton button span {
    font-size: 50px;
    font-weight: 800;
}


/* mobile view --------------- */
@media only screen and (max-width: 720px) {
    canvas, #canvas-frame {
        width: 100%;
    }

    h1 {
        display: none;
    }
}

@media only screen and (max-height: 480px) {
    canvas, #canvas-frame {
        height: 100vh;
    }

    h1 {
        display: none;
    }
}